<div class="content">
    <h2>Obavestenja</h2>
    <p-button label="Dodaj obavestenje" severity="success" (onClick)="obavestenjeDialog()"/>
    <p-dropdown 
    [options]="mojiPredmeti" 
    optionLabel="naziv"
    optionValue="id" 
    [(ngModel)]="izabraniPredmetID" 
    placeholder="Izaberi predmet" 
    (onChange)="onPredmetChange($event)"
    />
    <div>
        <p-dialog header="Dodaj obavestenje" [(visible)]="visible" modal="modal" [closable]="true">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="predmet">Predmet:</label>
                    <p-dropdown id="predmet" name="predmet" [options]="mojiPredmeti" optionLabel="naziv" [(ngModel)]="novoObavestenje.predmet" placeholder="Izaberi predmet" required></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="naslov">Naslov:</label>
                    <input id="naslov" name="naslov" type="text" pInputText [(ngModel)]="novoObavestenje.naslov" required />
                </div>
                <div class="p-field">
                    <label for="sadrzaj">Sadržaj:</label>
                    <textarea id="sadrzaj" name="sadrzaj" pInputTextarea [(ngModel)]="novoObavestenje.sadrzaj" required></textarea>
                </div>
                <div class="p-field">
                    <label for="vremePocetka">Vreme početka:</label>
                    <p-calendar id="vremePocetka" name="vremePocetka" [(ngModel)]="novoObavestenje.vremePocetka" [showTime]="true" required></p-calendar>
                </div>
                <div class="p-field">
                    <label for="vremeKraja">Vreme kraja:</label>
                    <p-calendar id="vremeKraja" name="vremeKraja" [(ngModel)]="novoObavestenje.vremeKraja" [showTime]="true" required></p-calendar>
                </div>
                <p-footer>
                    <p-button type="submit" (onClick)="dodajObavestenje()" severity="success" label="Dodaj" />
                    <p-button label="Ponisti" severity="secondary" severity="danger" (onClick)="visible = false" />
                </p-footer>
            </div>
        </p-dialog>
    </div>
    <p-dataView  #dv [value]="filtriranaObavestenja">
        <ng-template  pTemplate="list">
            <div *ngFor="let o of filtriranaObavestenja">
                <div class="gObavestenje">
                    <h4>{{o.naslov}}</h4>
                    <p><span>od: </span> <br> {{prilagodiDatum(o.vremePocetka)}}, <br> <span>do: </span> <br>{{prilagodiDatum(o.vremeKraja)}}</p>
                    <p>{{o.sadrzaj}}</p>
                    <p>
                        <p-button label="ukloni" (click)="ukloniObavestenje($event, o)" severity="danger" rounded="true" [raised]="true"/>
                    </p>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <p-toast />
    <p-confirmPopup />
</div>

