<div class="content">
    <h2>Sifarnik</h2>
    <p-dropdown 
        [options]="sifarnikSelect" 
        [(ngModel)]="selected" 
        optionLabel="label"
        optionValue="value"
        placeholder="odaberi sifarnik za" />
    <div *ngIf="selected === 'fakulteti'">
        <div class="dugme">
            <p-button label="dodaj fakultet" severity="success" (onClick)="dodajFakultetDialog()" />
        </div>
        <div class="pretraga">
            <p-inputGroup class="prvi_input">
                <input type="text" [(ngModel)]="pretraga.naziv" pInputText placeholder="naziv" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretraga.sifra" pInputText placeholder="sifra" />
            </p-inputGroup>
            <p-button icon="pi pi-search" (click)="pretragaFakulteta()" rounded="true" [raised]="true" />
            <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
        </div>
        <p-table [value]="filtriraniFakulteti">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="naziv">naziv <p-sortIcon field="naziv"></p-sortIcon></th>
                    <th pSortableColumn="sifraFakulteta">sifra <p-sortIcon field="sifraFakulteta"></p-sortIcon></th>
                    <th>izmeni</th>
                    <th>ukloni</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-f let-rowIndex="rowIndex">
                <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                    <td>{{ f.id }}</td>
                    <td>{{ f.naziv }}</td>
                    <td>{{ f.sifraFakulteta }}</td>
                    <td>
                        <p-button label="sifra" (onClick)="izmeniSifruFakulteta(f)"/>
                        <p-button label="fakultet" (onClick)="izmeniFakultet(f)" severity="info"/>
                    </td>
                    <td>
                        <p-button label="fakultet" (onClick)="ukloniFakultet(f.id, $event)" severity="danger"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="selected === 'smerovi'">
        <div class="dugme">
            <p-button label="dodaj smer" (onClick)="dodajSmerDialog()" severity="success"/>
        </div>
        <div class="pretraga">
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretraga.naziv" pInputText placeholder="naziv" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretraga.sifra" pInputText placeholder="sifra" />
            </p-inputGroup>
            <p-button icon="pi pi-search" (click)="pretragaSmerova()" rounded="true" [raised]="true" />
            <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
        </div>
        <p-table [value]="filtriraniSmerovi">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="naziv">naziv <p-sortIcon field="naziv"></p-sortIcon></th>
                    <th pSortableColumn="sifraSP">sifra <p-sortIcon field="sifraSP"></p-sortIcon></th>
                    <th>izmeni</th>
                    <th>ukloni</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-s let-rowIndex="rowIndex">
                <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                    <td>{{ s.id }}</td>
                    <td>{{ s.naziv }}</td>
                    <td>{{ s.sifraSP }}</td>
                    <td>
                        <p-button label="sifra" (onClick)="izmeniSifruSmer(s)"/>
                        <p-button label="smer" (onClick)="izmeniSmer(s)" severity="info"/>
                    </td>
                    <td>
                        <p-button label="smer" (onClick)="ukloniSmer(s.id, $event)" severity="danger"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="selected === 'predmeti'">
        <div class="dugme">
            <p-button label="dodaj predmet" (onClick)="dodajPredmetDialog()" severity="success" />
        </div>
        <div class="pretraga">
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretraga.naziv" pInputText placeholder="naziv" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretraga.sifra" pInputText placeholder="sifra" />
            </p-inputGroup>
            <p-button icon="pi pi-search" (click)="pretragaPredmeta()" rounded="true" [raised]="true" />
            <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
        </div>
        <p-table [value]="filtriraniPredmeti">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="naziv">naziv <p-sortIcon field="naziv"></p-sortIcon></th>
                    <th pSortableColumn="sifraPredmeta">sifra <p-sortIcon field="sifraPredmeta"></p-sortIcon></th>
                    <th>izmeni</th>
                    <th>ukloni</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-p let-rowIndex="rowIndex">
                <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                    <td>{{ p.id }}</td>
                    <td>{{ p.naziv }}</td>
                    <td>{{ p.sifraPredmeta }}</td>
                    <td>
                        <p-button label="sifra" (onClick)="izmeniSifruPredmeta(p)"/>
                        <p-button label="predmet" (onClick)="izmeniPredmet(p)" severity="info"/>
                    </td>
                    <td>
                        <p-button label="predmet" (onClick)="ukloniPredmet(p.id, $event)" severity="danger"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog header="Izmeni sifru" [(visible)]="visible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <p *ngIf="trenutniElement">{{trenutniElement.naziv}}</p>
            <div class="p-field">
                <label for="sifra">Sifra</label>
                <input id="sifra" type="text" pInputText [(ngModel)]="novaSifra" />
            </div>
        </div>
        <p-footer>
            <p-button label="Izmeni" rounded="true" severity="success" icon="pi pi-check" (click)="sacuvajSifru()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="ponistiDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <p-dialog header="Dodaj Fakultet" [(visible)]="dodajFakultetVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="noviFakultet.naziv" />
            </div>
            <div class="p-field">
                <label for="tekstualni_opis">Opis</label>
                <textarea id="tekstualni_opis" rows="4" pInputTextarea [(ngModel)]="noviFakultet.tekstualniOpis"></textarea>
            </div>
            <div class="p-field">
                <label for="sifra_fakulteta">sifra</label>
                <input id="sifra_fakulteta" type="text" [(ngModel)]="noviFakultet.sifraFakulteta"  >
            </div>
            <div class="p-field">
                <label for="adresa">adresa</label>
                <input id="adresa" type="text" pInputText [(ngModel)]="noviFakultet.adresa" />
            </div>
            <div class="p-field">
                <label for="dekan">dekan</label>
                <input id="dekan" type="text" pInputText [(ngModel)]="noviFakultet.dekan" />
            </div>
            <div class="p-field">
                <label for="kontakt">kontakt</label>
                <input id="kontakt" type="text" pInputText [(ngModel)]="noviFakultet.kontakt" />
            </div>
            <div class="p-field">
                <label for="slika">slika</label>
                <input id="slika" type="text"  pInputText [(ngModel)]="noviFakultet.slika" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="dodajFakultet()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogFakultet()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <p-dialog header="Izmeni Fakultet" [(visible)]="izmeniFakultetVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="noviFakultet.naziv" />
            </div>
            <div class="p-field">
                <label for="tekstualni_opis">Opis</label>
                <textarea id="tekstualni_opis" rows="4" pInputTextarea [(ngModel)]="noviFakultet.tekstualniOpis"></textarea>
            </div>
            <div class="p-field">
                <label for="sifra_fakulteta">sifra</label>
                <input id="sifra_fakulteta" type="text" [(ngModel)]="noviFakultet.sifraFakulteta"  >
            </div>
            <div class="p-field">
                <label for="adresa">adresa</label>
                <input id="adresa" type="text" pInputText [(ngModel)]="noviFakultet.adresa" />
            </div>
            <div class="p-field">
                <label for="dekan">dekan</label>
                <input id="dekan" type="text" pInputText [(ngModel)]="noviFakultet.dekan" />
            </div>
            <div class="p-field">
                <label for="kontakt">kontakt</label>
                <input id="kontakt" type="text" pInputText [(ngModel)]="noviFakultet.kontakt" />
            </div>
            <div class="p-field">
                <label for="slika">slika</label>
                <input id="slika" type="text"  pInputText [(ngModel)]="noviFakultet.slika" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="izmenaFakulteta()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogFakultet()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    <p-dialog header="Dodaj Smer" [(visible)]="dodajSmerVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div>
                <p-dropdown [options]="fakulteti" [(ngModel)]="noviSmer.fakultet" optionLabel="naziv" placeholder="Izaberite fakultet"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="noviSmer.naziv" />
            </div>
            <div class="p-field">
                <label for="sifra">sifra</label>
                <input id="sifra" type="text" pInputText [(ngModel)]="noviSmer.sifraSP" />
            </div>
            <div class="p-field">
                <label for="opis">opis</label>
                <textarea id="opis" rows="4" pInputTextarea [(ngModel)]="noviSmer.opis"></textarea>
            </div>
            <div class="p-field">
                <label for="rukovodilac">rukovodilac</label>
                <input id="rukovodilac" type="text" [(ngModel)]="noviSmer.rukovodilac"  >
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="dodajSmer()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogSmer()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <p-dialog header="Izmeni Smer" [(visible)]="izmeniSmerVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div>
                <p-dropdown [options]="fakulteti" [(ngModel)]="noviSmer.fakultet" optionLabel="naziv" placeholder="Izaberite fakultet"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="noviSmer.naziv" />
            </div>
            <div class="p-field">
                <label for="sifra">sifra</label>
                <input id="sifra" type="text" pInputText [(ngModel)]="noviSmer.sifraSP" />
            </div>
            <div class="p-field">
                <label for="opis">opis</label>
                <textarea id="opis" rows="4" pInputTextarea [(ngModel)]="noviSmer.opis"></textarea>
            </div>
            <div class="p-field">
                <label for="rukovodilac">rukovodilac</label>
                <input id="rukovodilac" type="text" [(ngModel)]="noviSmer.rukovodilac"  >
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="izmenaSmera()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogSmer()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>


    <p-dialog header="Dodaj Predmet" [(visible)]="dodajPredmetVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div>
                <p-dropdown [options]="smerovi" [(ngModel)]="noviPredmet.smer" optionLabel="naziv" placeholder="Izaberite smer"></p-dropdown>
            </div>
            <div>
                <p-dropdown [options]="profesori" [(ngModel)]="noviPredmet.nastavnik" optionLabel="ime" optionLabel="prezime" placeholder="Izaberite profesora"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="noviPredmet.naziv" />
            </div>
            <div class="p-field">
                <label for="sifra">sifra</label>
                <input id="sifra" type="text" pInputText [(ngModel)]="noviPredmet.sifraPredmeta" />
            </div>
            <div class="p-field">
                <label for="opis">opis</label>
                <textarea id="opis" rows="4" pInputTextarea [(ngModel)]="noviPredmet.opis"></textarea>
            </div>
            <div class="p-field">
                <label for="silabus">silabus</label>
                <textarea id="silabus" rows="4" pInputTextarea [(ngModel)]="noviPredmet.silabus"></textarea>
            </div>
            <div class="p-field">
                <label for="espb">espb</label>
                <input id="espb" type="number" step="1" [(ngModel)]="noviPredmet.espb"  >
            </div>
            <div class="p-field">
                <label for="vremePocetka">Vreme Početka</label>
                <p-calendar id="vremePocetka" [(ngModel)]="noviPredmet.vremePocetka" [showTime]="true" ></p-calendar>
            </div>
            <div class="p-field">
                <label for="vremeKraja">Vreme Kraja</label>
                <p-calendar id="vremeKraja" [(ngModel)]="noviPredmet.vremeKraja" [showTime]="true" ></p-calendar>
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="dodajPredmet()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogPredmet()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <p-dialog header="Izmeni Predmet" [(visible)]="izmeniPredmetVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div>
                <p-dropdown [options]="smerovi" [(ngModel)]="noviPredmet.smer" optionLabel="naziv" placeholder="Izaberite smer"></p-dropdown>
            </div>
            <div>
                <p-dropdown [options]="profesori" [(ngModel)]="noviPredmet.nastavnik" optionLabel="ime" optionLabel="prezime" placeholder="Izaberite profesora"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="noviPredmet.naziv" />
            </div>
            <div class="p-field">
                <label for="sifra">sifra</label>
                <input id="sifra" type="text" pInputText [(ngModel)]="noviPredmet.sifraPredmeta" />
            </div>
            <div class="p-field">
                <label for="opis">opis</label>
                <textarea id="opis" rows="4" pInputTextarea [(ngModel)]="noviPredmet.opis"></textarea>
            </div>
            <div class="p-field">
                <label for="silabus">silabus</label>
                <textarea id="silabus" rows="4" pInputTextarea [(ngModel)]="noviPredmet.silabus"></textarea>
            </div>
            <div class="p-field">
                <label for="espb">espb</label>
                <input id="espb" type="number" step="1" [(ngModel)]="noviPredmet.espb"  >
            </div>
            <div class="p-field">
                <label for="vremePocetka">Vreme Početka</label>
                <p-calendar id="vremePocetka" [(ngModel)]="noviPredmet.vremePocetka" [showTime]="true" ></p-calendar>
            </div>
            <div class="p-field">
                <label for="vremeKraja">Vreme Kraja</label>
                <p-calendar id="vremeKraja" [(ngModel)]="noviPredmet.vremeKraja" [showTime]="true" ></p-calendar>
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="izmenaPredmeta()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogPredmet()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>


    <p-toast />
    <p-confirmPopup />
</div>
