<div class="content">
    <h2>Unos ocena</h2>
    <p-dropdown 
    [options]="predmeti" 
    optionLabel="naziv"
    optionValue="id" 
    [(ngModel)]="izabraniPredmetID" 
    placeholder="Izaberi predmet" 
    (onChange)="onPredmetChange($event)"
    />
    <p-table [value]="polaganja" styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="ime">student <p-sortIcon field="ime"></p-sortIcon></th>
                <th pSortableColumn="brojIndeksa">broj indeksa <p-sortIcon field="brojIndeksa"></p-sortIcon></th>
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p>
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.student.ime}} {{p.student.prezime}}</td>
                <td>{{p.student.brojIndeksa}}</td>
                <td>
                    <p-button (onClick)="upisiOcenu(p)" label="unesi rezultate" />
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="Unesi rezultate" [modal]="true" class="dialog" [(visible)]="visible" >
        <div class="p-field">
            <label for="bodovi">Bodovi</label>
            <input id="bodovi" type="number" pInputText [(ngModel)]="rezultat.osvojeniBodovi" />
        </div>
        <div class="p-field">
            <label for="ocena">ocena</label>
            <input id="ocena" type="number" pInputText [(ngModel)]="rezultat.ocena" />
        </div>
        <div class="p-field">
            <label for="napomena">napomena</label>
            <input id="napomena" type="text" pInputText [(ngModel)]="rezultat.napomena" />
        </div>
        <p-button label="upisi" (click)="upisOcene()" rounded="true" severity="success"/>
        <p-button label="ponisti" (click)="ponistiDialog()" rounded="true" severity="danger" />

    </p-dialog>
    <p-toast />
</div>
