<p-tabView [activeIndex]="selectedTabIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="Sifarnik">
        <app-sifarnik></app-sifarnik>
    </p-tabPanel>
    <p-tabPanel header="Registrovani korisnici">
        <app-a-reg-korisnici></app-a-reg-korisnici>
    </p-tabPanel>
    <p-tabPanel header="Studijski programi">
        <app-a-studijski-programi></app-a-studijski-programi>
    </p-tabPanel>
    <p-tabPanel header="Organizacija">
        <app-a-organizacija></app-a-organizacija>
    </p-tabPanel>
    <p-tabPanel header="Zaposleni">
        <app-a-zaposleni></app-a-zaposleni>
    </p-tabPanel>
</p-tabView>
