<div class="content">
    <a [routerLink]="['/fakultet', fakultetSifra]"><h2>{{fakultetNaziv}}</h2></a>
    <a [routerLink]="['/fakultet', fakultetSifra, 'studijski-program', sifraSP]"><h3>{{programNaziv}}</h3></a>
    <a [routerLink]="['/fakultet', fakultetSifra, 'studijski-program', sifraSP, 'predmet', sifraPredmeta]"><h4>{{predmet.naziv}}</h4></a>
    <p-divider />
    <h3>{{materijalNaziv}}</h3>

    <p>{{materijal?.opis}}</p>
    <p>{{materijal?.url}}</p>
    <p-divider />

    <h5>Autor</h5>
    <p>{{materijal?.autori}}</p>
    <p-divider />

    <h5>Izdavac</h5>
    <p>{{materijal?.izdavac}}</p>
    <p-divider />

    <h5>Godina izdavanja</h5>
    <p>{{materijal?.godinaIzdavanja}}</p>
    <p-divider />

    <h5>Broj strana</h5>
    <p>{{materijal?.brojStrana}}</p>


</div>
