<div class="content">
    <h2>Organizacija</h2>
    <p-button label="izmeni" (onClick)="izmeniDialog()"/>
    <p><span>naziv: </span> <br> {{univerzitet?.naziv}}</p>
    <p><span>datum osnivanja:</span> <br> {{univerzitet?.datumOsnivanja}}</p>
    <p><span>rektor:</span> <br> {{univerzitet?.rektorat?.ime_rektora}}</p>
    <p><span>loakcija:</span> <br> {{univerzitet?.adresa}}</p>
    <p><span>kontakt:</span> <br> {{univerzitet?.kontakt}}</p>
    <p><span>opis:</span> <br> {{univerzitet?.opis}}</p>

    <p-dialog header="Izmeni" [(visible)]="visible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="univerzitetZaIzmenu.naziv" />
            </div>
            <div class="p-field">
                <label for="opis">opis</label>
                <textarea id="opis" name="opis" [(ngModel)]="univerzitetZaIzmenu.opis" required></textarea>
            </div>
            <div class="p-field">
                <label for="datumOsnivanja">datum osnivanja</label>
                <p-calendar id="datumOsnivanja" name="datumOsnivanja" [(ngModel)]="univerzitetZaIzmenu.datumOsnivanja" [showTime]="true" required></p-calendar>
            </div>
            <div class="p-field">
                <label for="adresa">adresa</label>
                <textarea id="adresa" name="adresa" [(ngModel)]="univerzitetZaIzmenu.adresa" required></textarea>
            </div>
            <div class="p-field">
                <label for="kontakt">kontakt</label>
                <textarea id="kontakt" name="kontakt" [(ngModel)]="univerzitetZaIzmenu.kontakt" required></textarea>
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="izmena()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="ponistiDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    <p-toast/>

</div>
