<div class="content">
    <h2>Upis</h2>
    <div><p>Dobrodošli na stranicu za upis na fakultete {{univerzitetNaziv}}a!</p>

        <p>Ako razmišljate o nastavku obrazovanja ili želite postati deo našeg akademskog zajedništva, ovde ćete pronaći sve informacije koje su vam potrebne za uspešan upis.</p>
    </div>

    <p-divider />

    <h3>Koraci za Upis</h3>
    <div class="poravnanje-levo">
        <p><b>Informativna Sesija</b>: Preporučujemo vam da se upoznate s našim fakultetima i studijskim programima koje pružamo. Detalje možete pronaći <a routerLink="/fakulteti">ovde</a>.</p>
        
        <p><b>Prijava</b>: Da biste se prijavili, ispunite prijavni obrazac koji možete preuzeti s naše web stranice. Prijava uključuje osnovne informacije o vama, vaše obrazovne kvalifikacije i preferencije za studijski program.</p>

        <p><b>Registracija:</b>Pre nego što se prijavite, obavezno se registrujte <a routerLink="/registracija">ovde</a>. Ova registracija će vam omogućiti da pratite status vaše prijave i primate sve relevantne informacije putem e-maila.</p>

        <p><b>Dokumentacija</b>: Priložite potrebne dokumente kao što su svedočanstva, diplome i preporuke. Proverite popis potrebne dokumentacije kako biste bili sigurni da ste dostavili sve što je potrebno.</p>

        <p><b>Intervju</b>: Nakon pregleda prijava, kandidati koji zadovolje uslove će biti pozvani na intervju. Intervju je prilika za kontakt s članovima našeg prijemnog odbora i dodatno predstavljanje vaših kvalifikacija.</p>

        <p><b>Odluka o Upisu</b>: Nakon završetka intervjua, svi kandidati će biti obavešteni o rezultatima i odluci o upisu. Uputićemo vas s daljim koracima i informacijama o početku nastave.  </p> 
    </div>

    <p-divider />

    <h3>Školarine i Finansijska Pomoć</h3>
    <p>Na {{univerzitetNaziv}}u nudimo različite opcije finansijske pomoći i stipendija. Detalje o školskim troškovima, mogućnostima finansiranja i stipendijama možete pronaći na pojedinačnim stranicama fakulteta <a routerLink="/fakulteti">ovde</a>. 
    </p>

    <p-divider />

    <h3>Kontakt</h3>
    <div>
        <p>Ako imate dodatnih pitanja ili trebate pomoć, slobodno se obratite našem timu za upis. Kontaktirajte nas putem <span class="podaci">{{univerzitetKontakt}}</span>, ili lično na adresi <span class="podaci">{{univerzitetAdresa}}</span>.</p>
        
        <p>Radujemo se vašem interesu za {{univerzitetNaziv}} i nadamo se da ćete postati deo našeg dinamičnog akademskog okruženja!</p>
    </div>
</div>
