<div class="content">
    <h2>Prijava ispita</h2>
    <p-table [value]="mojiPredmeti" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nazivPredmeta">Predmet <p-sortIcon field="nazivPredmeta"></p-sortIcon></th>
                <th pSortableColumn="profesor">Profesor <p-sortIcon field="profesor"></p-sortIcon></th>
                <th pSortableColumn="espb">ESPB <p-sortIcon field="espb"></p-sortIcon></th>
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"  let-p>
            <tr>
                <td>{{p.naziv}}</td>
                <td>{{p.nastavnik.ime}} {{p.nastavnik.prezime}}</td>
                <td>{{p.espb}}</td>
                <td>
                    <p-button *ngIf="!jePredmetPrijavljen(p)" label="prijavi" (onClick)="prijavaIspita($event, p)" />
                </td>
            </tr>
        </ng-template>
    </p-table>

    <h3>prijavljeni ispiti</h3>    
    <p-table [value]="prijavljeniIspiti" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nazivPredmeta">Predmet <p-sortIcon field="nazivPredmeta"></p-sortIcon></th>
                <th pSortableColumn="profesor">Profesor <p-sortIcon field="profesor"></p-sortIcon></th>
                <th pSortableColumn="espb">ESPB <p-sortIcon field="espb"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"  let-p>
            <tr>
                <td>{{p.predmet.naziv}}</td>
                <td>{{p.predmet.nastavnik.ime}} {{p.predmet.nastavnik.prezime}}</td>
                <td>{{p.predmet.espb}}</td>
            </tr>
        </ng-template>
    </p-table>


    <p-toast />
    <p-confirmDialog />
</div>

