<div class="content">
    <h2>Moji predmeti</h2>
    <p-dataView  #dv [value]="mojiPredmeti">
        <ng-template  pTemplate="list">
            <div *ngFor="let p of mojiPredmeti">
                <div class="predmet">
                    <h4>{{p.naziv}}</h4>
                    <p><span>sifra predmeta: </span> <br> {{p.sifraPredmeta}}</p>
                    <p><span>smer: </span> <br> {{p.smer.naziv}}</p>
                    <p><span>trajanje kursa:</span> <br> {{formatirajDatum(p.vremePocetka)}}, do: {{formatirajDatum(p.vremeKraja)}}</p>
                    <p><span>espb:</span> <br> {{p.espb}}</p>
                    <p><span>profesor: </span> <br> {{p.nastavnik?.ime}} {{p.nastavnik?.prezime}}</p>
                    <p><span>opis: </span> <br>  {{p.opis}}</p>
                    <div class="udzbenici"><span>udzbenici:</span> <br> 
                        <ul>
                          <li *ngFor="let materijal of p.nastavniMaterijal">
                            <strong>{{materijal.naslov}}</strong> - Autor: {{materijal.autori}} 
                          </li>
                        </ul>
                    </div>
                </div>
                <p-divider />
            </div>
        </ng-template>
    </p-dataView>
</div>