<div class="content">
    <h2>Registrovani korisnici</h2>
    <div class="dugme">
        <p-button label="dodaj" severity="success" (onClick)="korisnikDialog()" />
    </div>
    <div class="pretraga">
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.korisnickoIme" pInputText placeholder="korisnicko ime" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.email" pInputText placeholder="email" />
        </p-inputGroup>
        <p-button icon="pi pi-search" (click)="pretragaKorisnika()" rounded="true" [raised]="true" />
        <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
    </div>
    <p-table [value]="filtriraniKorisnici" styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="korisnickoIme">korisnicko ime <p-sortIcon field="korisnickoIme"></p-sortIcon></th>
                <th pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-k>
            <tr>
                <td>{{k.id}}</td>
                <td>{{k.korisnickoIme}}</td>
                <td>{{k.email}}</td>
                <td>
                    <p-button (onClick)="izmeniTip(k)" severity="contrast" label="izmeni tip" />
                    <p-button (onClick)="ukloni(k.id, $event)" label="ukloni" severity="danger"/>
                </td>   
            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="Dodaj Korisnika" [(visible)]="dodajKorisnikaDialog" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="ime">ime</label>
                <input id="ime" type="text" pInputText [(ngModel)]="noviKorisnik.ime" />
            </div>
            <div class="p-field">
                <label for="prezime">prezime</label>
                <input id="prezime" type="text" pInputText [(ngModel)]="noviKorisnik.prezime" />
            </div>
            <div class="p-field">
                <label for="korisnickoIme">korisnicko ime</label>
                <input id="korisnickoIme" type="text" pInputText [(ngModel)]="noviKorisnik.korisnickoIme" />
            </div>
            <div class="p-field">
                <label for="email">email</label>
                <input id="email" type="email" pInputText [(ngModel)]="noviKorisnik.email" />
            </div>
            <div class="p-field">
                <label for="lozinka">lozinka</label>
                <input id="lozinka" type="password" pInputText [(ngModel)]="noviKorisnik.lozinka" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="dodajKorisnika()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogKorisnik()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    <p-dialog  header="Izmeni tip korisnika" [(visible)]="tipDialog" modal="modal" [closable]="true">
        <div class="p-fluid" >
            <div>
                <p-dropdown [options]="tipovi" [(ngModel)]="tip" optionLabel="naziv" placeholder="Izaberite tip"></p-dropdown>
            </div>
            <div>
                <p><strong>ime: </strong> {{korisnikZaIzmenuTipa.ime}}</p>
            </div>
            <div>
                <p><strong>prezime: </strong> {{korisnikZaIzmenuTipa.prezime}}</p>
            </div>
            <div>
                <p><strong>email: </strong> {{korisnikZaIzmenuTipa.email}}</p> 
            </div>
            <div>
                <p><strong>trenutni permission: </strong> {{korisnikZaIzmenuTipa.tipZaIzmenu}}</p>
            </div>
        </div>
        <p-footer>
            <p-button label="Izmeni" rounded="true" severity="success" icon="pi pi-check" (click)="izmenaTipa()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="ponistiTipDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    

    <p-toast />
    <p-confirmPopup />
</div>