<div class="content">
    <h2>Biblioteka</h2>
    <h3>Udzbenici</h3>
    <p-button label="novi udzbenik" (click)="udzbenikForma()"/>
    <p-dialog header="Dodaj Novi Udzbenik" [(visible)]="dodajVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="naslov">Naslov</label>
                <input id="naslov" type="text" pInputText [(ngModel)]="noviUdzbenik.naslov" />
            </div>
            <div class="p-field">
                <label for="opis">Opis</label>
                <textarea id="sadrzaj" rows="4" pInputTextarea [(ngModel)]="noviUdzbenik.opis"></textarea>
            </div>
            <div>
                <p-dropdown [options]="predmeti" [(ngModel)]="noviUdzbenik.predmet" optionLabel="naziv" placeholder="Izaberite predmet"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="godina_izdavanja">Godina izdavanja</label>
                <input id="godina_izdavanja" type="text" [(ngModel)]="noviUdzbenik.godinaIzdavanja"  >
            </div>
            <div class="p-field">
                <label for="autori">autori</label>
                <input id="autori" type="text" pInputText [(ngModel)]="noviUdzbenik.autori" />
            </div>
            <div class="p-field">
                <label for="izdavac">izdavac</label>
                <input id="izdavac" type="text" pInputText [(ngModel)]="noviUdzbenik.izdavac" />
            </div>
            <div class="p-field">
                <label for="broj_strana">broj strana</label>
                <input id="broj_strana" type="number" step="1" pInputText [(ngModel)]="noviUdzbenik.broj_strana" />
            </div>
            <div class="p-field">
                <label for="kolicina">kolicina</label>
                <input id="kolicina" type="number" step="1" pInputText [(ngModel)]="noviUdzbenik.kolicina" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="dodajUdzbenik()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogUdzbenik()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <div class="pretraga">
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.naslov" pInputText placeholder="Naslov" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.autor" pInputText placeholder="Autor" />
        </p-inputGroup>
        <p-button icon="pi pi-search" (click)="pretraziUdzbenike()" rounded="true" [raised]="true" />
        <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger"  />
    </div>
    <p-table [value]="filtriraniUdzbenici">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="naslov">naslov <p-sortIcon field="naslov"></p-sortIcon></th>
                <th pSortableColumn="autori">autor <p-sortIcon field="autori"></p-sortIcon></th>
                <th pSortableColumn="godinaIzdavanja">godina izdavanja <p-sortIcon field="godinaIzdavanja"></p-sortIcon></th>
                <th pSortableColumn="kolicina">na stanju <p-sortIcon field="kolicina"></p-sortIcon></th>
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-u let-rowIndex="rowIndex">
            <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                <td>{{ u.id }}</td>
                <td>{{ u.naslov }}</td>
                <td>{{ u.autori }}</td>
                <td>{{ u.godinaIzdavanja }}</td>
                <td [ngClass]="{'low-quantity': u.kolicina < 10}">
                    {{ u.kolicina }}
                </td>
                <td>
                    <p-button label="izdaj" (onClick)="izdajUdzbenik(u)"/>
                    <p-button *ngIf="u.kolicina < 50" label="trebuj" severity="info" (onClick)="trebujUdzbenik(u)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
        <p-dialog header="Trebuj udzbenik" [(visible)]="visible" modal="modal" [closable]="true">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="kolicina">Kolicina</label>
                    <input id="kolicina" type="text" pInputText [(ngModel)]="novaKolicina" />
                </div>
            </div>
            <p-footer>
                <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="trebovanjeUdzbenika()" />
                <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialog()" class="p-button-secondary" />
            </p-footer>
        </p-dialog>
    <p-toast />
</div>
