<p-tabView [activeIndex]="selectedTabIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="Moji predmeti">
        <app-angazovani-predmeti></app-angazovani-predmeti>
    </p-tabPanel>
    <p-tabPanel header="Obavestenja">
        <app-obavestenja-prof></app-obavestenja-prof>
    </p-tabPanel>
    <p-tabPanel header="Spisak studenata">
        <app-spisak-studenata></app-spisak-studenata>
    </p-tabPanel>
    <p-tabPanel header="Unos ocena">
        <app-unos-ocena></app-unos-ocena> 
    </p-tabPanel>
</p-tabView>
