<div class="content">
    <a [routerLink]="['/fakultet', fakultetSifra]"><h2>{{fakultet.naziv}}</h2></a>
    <h3>{{smer?.naziv}}</h3>

    <p>{{smer?.opis}}</p>

    <p-divider />

    <h4>Predmeti</h4>
    <ul>
        <li *ngFor="let p of predmeti">
            <a [routerLink]="['/fakultet', fakultetSifra, 'studijski-program', sifraSP, 'predmet', p.sifraPredmeta]">{{p.naziv}}</a>
        </li>
    </ul>

    <p-divider />

    <h4>Rukovodilac smera</h4>
    <p>{{smer?.rukovodilac}}</p>
</div>
