<p-tabView [activeIndex]="selectedTabIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="Upis studenata">
        <app-upis-studenata></app-upis-studenata>
    </p-tabPanel>
    <p-tabPanel header="Izdavanje dokumenata">
        <app-izdavanje-dokumenata></app-izdavanje-dokumenata>
    </p-tabPanel>
    <p-tabPanel header="Obavestenja">
        <app-obavestenja></app-obavestenja>
    </p-tabPanel>
    <p-tabPanel header="Biblioteka">
        <app-ss-biblioteka></app-ss-biblioteka>
    </p-tabPanel>
    <p-tabPanel header="Kancelarijski inventar">
        <app-ss-kanc></app-ss-kanc>
    </p-tabPanel>
</p-tabView>
