<div class="content">
    <!-- ubaciti sliku -->
    <h2>{{rektorat.naziv}}</h2>
    <p>Rektorat LMS Univerziteta je ključni deo naše akademske organizacije, odgovoran za strateško upravljanje i vođenje univerziteta. 
    Na čelu rektorata nalazi se <b class="podaci">{{rektorat.ime_rektora}}</b>, koji koordinira sve ključne aktivnosti i donosi odluke koje oblikuju budućnost našeg univerziteta.
    </p>

    <p-divider />

    <h3>Funkcije Rektorata</h3>
    <div class="poravnanje-levo">
        <p><b>Strateško Planiranje</b>: Rektoratu je poverena odgovornost za razvoj i implementaciju strateških planova koji vode univerzitet ka njegovim ciljevima.</p>
        <p><b>Akademska Politika</b>: Ovaj organ definiše akademske standarde i politiku, osiguravajući visok kvalitet obrazovanja i istraživanja.</p>
        <p><b>Administrativno Upravljanje</b>: Rektorati nadgledaju administrativne poslove, budžet i resurse univerziteta kako bi obezbedili efikasno funkcionisanje svih fakulteta i odseka.</p>
        <p><b>Reprezentacija</b>: Rektor predstavlja univerzitet u zvaničnim i međunarodnim forumima, kao i u saradnji s partnerima i institucijama.</p>
    </div>

    <p-divider />

    <h3>Kontakt</h3>
    <p>Za sve informacije i upite vezane za rad rektorata, možete nas kontaktirati putem sledećih kanala:</p>
    <p class="podaci">{{rektorat.kontakt}}</p>
    <p>Naša kancelarija je otvorena od ponedeljka do petka, od 9:00 do 17:00 sati. Biće nam zadovoljstvo da vam pomognemo sa svim pitanjima i zahtevima.</p>

    <p-divider />

    <h3>Adresa</h3>
    <p>{{rektorat.adresa}}</p>
    <div class="map-container">
        <iframe loading="lazy"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.083970150712!2d19.83505659248146!3d45.25239800730134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b10613de93455%3A0xb6f7d683724fe28!2z0J3QvtCy0Lgg0KHQsNC0!5e0!3m2!1ssr!2srs!4v1723223074868!5m2!1ssr!2srs" >   
        </iframe>
    </div>
</div>
