<div class="content">
    <h2>Studijski programi</h2>
    <div class="dugme">
        <p-button label="dodaj" severity="success" (onClick)="dodajSmerDialog()"/>
    </div>
    <div class="pretraga">
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.naziv" pInputText placeholder="naziv" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.sifra" pInputText placeholder="sifra" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.fakultet" pInputText placeholder="fakultet" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.rukovodilac" pInputText placeholder="rukovodilac" />
        </p-inputGroup>
        <p-button icon="pi pi-search" (click)="pretragaSmera()" rounded="true" [raised]="true" />
        <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
    </div>
    <p-table [value]="filtriraniSmerovi" styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="naziv">naziv <p-sortIcon field="naziv"></p-sortIcon></th>
                <th pSortableColumn="sifraSP">sifra <p-sortIcon field="sifraSP"></p-sortIcon></th>
                <th pSortableColumn="fakultet">fakultet <p-sortIcon field="fakultet"></p-sortIcon></th>
                <th pSortableColumn="rukovodilac">rukovodilac <p-sortIcon field="rukovodilac"></p-sortIcon></th>
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-s>
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.naziv}}</td>
                <td>{{s.sifraSP}}</td>
                <td>{{s.fakultet.naziv}}</td>
                <td>{{s.rukovodilac}}</td>
                <td>
                    <p-button label="izmeni"  (onClick)="izmeniSmer(s)"/>
                    <p-button label="ukloni" (onClick)="ukloniSmer(s.id, $event)" severity="danger"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="Izmeni smer" [(visible)]="visible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="smerZaIzmenu.naziv" />
            </div>
            <div class="p-field">
                <label for="sifra">sifra</label>
                <input id="sifra" type="text" pInputText [(ngModel)]="smerZaIzmenu.sifraSP" />
            </div>
            <div class="p-field">
                <label for="rukovocilac">rukovodilac</label>
                <input id="rukovodilac" type="text" pInputText [(ngModel)]="smerZaIzmenu.rukovodilac" />
            </div>
        </div>
        <p-footer>
            <p-button label="Izmeni" rounded="true" severity="success" icon="pi pi-check" (click)="izmenaSmera()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="ponistiDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    <p-dialog header="Dodaj Smer" [(visible)]="dodajSmerVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div>
                <p-dropdown [options]="fakulteti" [(ngModel)]="noviSmer.fakultet" optionLabel="naziv" placeholder="Izaberite fakultet"></p-dropdown>
            </div>
            <div class="p-field">
                <label for="naziv">naziv</label>
                <input id="naziv" type="text" pInputText [(ngModel)]="noviSmer.naziv" />
            </div>
            <div class="p-field">
                <label for="sifra">sifra</label>
                <input id="sifra" type="text" pInputText [(ngModel)]="noviSmer.sifraSP" />
            </div>
            <div class="p-field">
                <label for="opis">opis</label>
                <textarea id="opis" rows="4" pInputTextarea [(ngModel)]="noviSmer.opis"></textarea>
            </div>
            <div class="p-field">
                <label for="rukovodilac">rukovodilac</label>
                <input id="rukovodilac" type="text" [(ngModel)]="noviSmer.rukovodilac"  >
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="dodajSmer()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogSmer()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>


    <p-toast />
    <p-confirmPopup />
</div>
