<div class="content">
    <h2>Moji predmeti</h2>
    <p-dataView  #dv [value]="predmeti">
        <ng-template  pTemplate="list">
            <div *ngFor="let p of predmeti">
                <div class="predmet">
                    <h4>{{p.naziv}}</h4>
                    <p><span>sifra:</span> <br> {{p.sifraPredmeta}}</p>
                    <p><span>smer:</span> <br> {{p.smer}}</p>
                    <p><span>espb:</span> <br> {{p.espb}}</p>
                    <p><span>opis:</span> <br> {{p.opis}}</p>
                    <div class="udzbenici"><span>udzbenici:</span> <br> 
                        <ul>
                          <li *ngFor="let materijal of p.nastavniMaterijal">
                            <strong>{{materijal.naslov}}</strong> - Autor: {{materijal.autori}} 
                          </li>
                        </ul>
                    </div>
                    <p><span>silabus:</span> <br> {{p.silabus}}</p>
                    <p>
                        <p-button label="Uredi silabus" (onClick)="silabusDialog(p)" [raised]="true" (onHide)="ponistiDialog()"  severity="primary"/>
                    </p>
                </div>
                <p-divider />
            </div>
        </ng-template>
    </p-dataView>
    <p-dialog header="Uredi silabus" [modal]="true" [(visible)]="visible" >
        <div class="uredjivanje">
            <textarea 
                rows="5"
                cols="30" 
                pInputTextarea 
                [style.width]="'500px'"
                [style.height]="'300px'"
                [(ngModel)]="predmetSilabus">
            </textarea>
        </div>
        <div class="uredjivanje">
            <p-button label="Sacuvaj izmene" severity="success"  rounded="true" (onClick)="urediSilabus()" />
            <p-button label="Ponisti" severity="danger" (onClick)="ponistiDialog()"  rounded="true" (onClick)="visible = false" />
        </div>
    </p-dialog>
    <p-toast />
</div>
