<div class="content"> 
    <h2>Registracija korisnika</h2>
    <div class="form form-group">
        <input type="text" placeholder="email"  [formControl]="emailFormControl"/>
        <div class="error-message" *ngIf="emailFormControl.touched && emailFormControl.invalid">
            <div *ngIf="emailFormControl.hasError('required')">Email je obavezan!</div>
            <div *ngIf="emailFormControl.hasError('email')">Email adresa nije validna!</div>
        </div>
    </div>
    <div class="form form-group">
        <input type="text" placeholder="korisnicko ime"  [formControl]="korisnickoFormControl"/>
        <div class="error-message" *ngIf="korisnickoFormControl.touched && korisnickoFormControl.invalid">
            <div *ngIf="korisnickoFormControl.hasError('required')">Korisnicko ime je obavezno!</div>
            <div *ngIf="korisnickoFormControl.hasError('minlength')">Korisnicko ime mora da sadrži minimum 4 karaktera!</div>
        </div>
    </div>
    <div class="form form-group">
        <input type="password" placeholder="lozinka"  [formControl]="lozinkaFormControl"/>
        <div class="error-message" *ngIf="lozinkaFormControl.touched && lozinkaFormControl.invalid">
            <div *ngIf="lozinkaFormControl.hasError('required')">Lozinka je obavezna!</div>
            <div *ngIf="lozinkaFormControl.hasError('minlength')">Lozinka mora da sadrži minimum 4 karaktera!</div>
        </div>
    </div>
    <div class="button">
        <p-toast />
        <p-button (onClick)="registracija()" label="Registracija" [rounded]="true" [raised]="true" severity="success"></p-button>
        <p-button (onClick)="ponistiFormu()"  label="Ponisti" [rounded]="true" [raised]="true" severity="danger"></p-button>
    </div>
    <p>Imate nalog? <a routerLink="/login">Prijavite se</a></p>
    <p-progressSpinner *ngIf="isLoading" ariaLabel="loading" />
</div>
