<div class="content">
    <h2>Obaveštenja</h2>
    <p-dropdown 
      [options]="aktivniPrdmeti" 
      optionLabel="naziv" 
      optionValue="id" 
      [(ngModel)]="izabraniPredmetID" 
      placeholder="Izaberi predmet" 
      (onChange)="onPredmetChange($event)">
    </p-dropdown>
    
    <div>
      <p-dialog header="Dodaj obaveštenje" [modal]="true" [(visible)]="visible">
        <div>
          <p-button label="Dodaj" (onClick)="dodajObavestenje()"/>
          <p-button label="Poništi" severity="secondary" (onClick)="visible = false" />
        </div>
        <!-- završi formu za dodavanje -->
      </p-dialog>
    </div>
    
    <p-dataView #dv [value]="filtriranaObavestenja">
      <ng-template pTemplate="list">
        <div *ngFor="let o of filtriranaObavestenja">
          <div class="gObavestenje">
            <h4>{{o.naslov}}</h4>
            <p><span>od: </span> <br> {{prilagodiDatum(o.vremePocetka)}}, <br> <span>do: </span> <br>{{prilagodiDatum(o.vremeKraja)}}</p>
            <p>{{o.sadrzaj}}</p>
          </div>
          <p-divider />
        </div>
      </ng-template>
    </p-dataView>
  
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
  </div>
  