<div class="content">
    <a [routerLink]="['/fakultet', fakultetSifra]"><h2>{{fakultet?.naziv}}</h2></a>
    <a [routerLink]="['/fakultet', fakultetSifra, 'studijski-program', sifraSP]"><h3>{{smer?.naziv}}</h3></a>

    <!-- <a [routerLink]="['/fakultet', fakultetSifra]"><h2>{{fakultetNaziv}}</h2></a>
    <a [routerLink]="['/fakultet', fakultetSifra, 'studijski-program', programSifra]"><h3>{{programNaziv}}</h3></a> -->
    <p-divider />
    <h4>{{predmet?.naziv}}</h4>

    <p>{{predmet?.opis}}</p>
    <p-divider />

    <h5>Silabus</h5>
    <p class="silabus" [innerHTML]="formatSilabus(predmet?.silabus)"></p>
    <p-divider />

    <h5>Nastavni materijal</h5>
    <ul>
        <li *ngFor="let nm of predmet?.nastavniMaterijal">
           <a [routerLink]="['/fakultet', fakultetSifra, 'studijski-program', sifraSP, 'predmet', predmet?.sifraPredmeta, 
           'nastavni-materijal', nm.naslov]">{{nm.naslov}}</a>
        </li>
    </ul>
    <p-divider />
    

    <h5>Trajanje predmeta</h5>
    <p>od: {{formatirajDatum(predmet?.vremePocetka)}}</p>
    <p>do: {{formatirajDatum(predmet?.vremeKraja)}}</p>
    <p-divider />
    
    <h5>ESPB</h5>
    <p>{{predmet?.espb}}</p>
    <p-divider />

    <h5>Profesor</h5>
    <p>{{predmet?.nastavnik?.ime}} {{predmet?.nastavnik?.prezime}}</p>
</div>
