<div class="content">
    <h2>Zaposleni</h2>
    <p-dropdown 
        [options]="zaposleniSelect" 
        [(ngModel)]="selected" 
        optionLabel="label"
        optionValue="value"
        placeholder="odaberi zaposlene za" />
    <div *ngIf="selected === 'profesori'">
        <div class="pretraga">
            <p-inputGroup class="prvi_input">
                <input type="text" [(ngModel)]="pretragaProfesora.ime" pInputText placeholder="ime" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaProfesora.prezime" pInputText placeholder="prezime" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaProfesora.email" pInputText placeholder="email" />
            </p-inputGroup>
            <p-button icon="pi pi-search" (click)="pretraziProfesore()" rounded="true" [raised]="true" />
            <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
        </div>
        <p-table [value]="filtriraniProfesori">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="ime">ime <p-sortIcon field="ime"></p-sortIcon></th>
                    <th pSortableColumn="prezime">prezime <p-sortIcon field="prezime"></p-sortIcon></th>
                    <th pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
                    <th>opcije</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-n let-rowIndex="rowIndex">
                <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                    <td>{{ n.id }}</td>
                    <td>{{ n.ime }}</td>
                    <td>{{ n.prezime }}</td>
                    <td>{{ n.email }}</td>
                    <td>
                        <p-button label="izmeni" (onClick)="izmeniProfesora(n)" />
                        <p-button label="ukloni" (onClick)="ukloniProfesora(n.id, $event)" severity="danger"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="selected === 'ssluzba'">
        <div class="pretraga">
            <p-inputGroup class="prvi_input">
                <input type="text" [(ngModel)]="pretragaSluzbe.ime" pInputText placeholder="ime" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaSluzbe.prezime" pInputText placeholder="prezime" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaSluzbe.email" pInputText placeholder="email" />
            </p-inputGroup>
            <p-button icon="pi pi-search" (click)="pretraziSluzbe()" rounded="true" [raised]="true" />
            <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
        </div>
        <p-table [value]="filtriranaSluzba">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="ime">ime <p-sortIcon field="ime"></p-sortIcon></th>
                    <th pSortableColumn="prezime">prezime <p-sortIcon field="prezime"></p-sortIcon></th>
                    <th pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
                    <th>opcije</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-s let-rowIndex="rowIndex">
                <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                    <td>{{ s.id }}</td>
                    <td>{{ s.ime }}</td>
                    <td>{{ s.prezime }}</td>
                    <td>{{ s.email }}</td>
                    <td>
                        <p-button label="izmeni" (onClick)="izmeniSluzbu(s)" />
                        <p-button label="ukloni" (onClick)="ukloniSluzbu(s.id, $event)" severity="danger" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="selected === 'administratori'">
        <div class="pretraga">
            <p-inputGroup class="prvi_input">
                <input type="text" [(ngModel)]="pretragaAdmina.korisnickoIme" pInputText placeholder="ime" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaAdmina.email" pInputText placeholder="prezime" />
            </p-inputGroup>
            <p-button icon="pi pi-search" (click)="pretraziAdmina()" rounded="true" [raised]="true" />
            <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
        </div>
        <p-table [value]="filtriraniAdministratori">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="ime">ime <p-sortIcon field="ime"></p-sortIcon></th>
                    <th pSortableColumn="prezime">prezime <p-sortIcon field="prezime"></p-sortIcon></th>
                    <th pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
                    <th>opcije</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-a let-rowIndex="rowIndex">
                <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                    <td>{{ a.id }}</td>
                    <td>{{ a.ime }}</td>
                    <td>{{ a.prezime }}</td>
                    <td>{{ a.email }}</td>
                    <td>
                        <p-button label="izmeni" (onClick)="izmeniAdmina(a)" />
                        <p-button label="ukloni" (onClick)="ukloniAdmina(a.id, $event)" severity="danger" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog header="Izmeni Profesora" [(visible)]="izmeniProfesoraVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="ime">ime</label>
                <input id="ime" type="text" pInputText [(ngModel)]="noviProfesor.ime" />
            </div>
            <div class="p-field">
                <label for="prezime">prezime</label>
                <input id="prezime" type="text" pInputText [(ngModel)]="noviProfesor.prezime" />
            </div>
            <div class="p-field">
                <label for="korisnickoIme">korisnicko ime</label>
                <input id="korisnickoIme" type="text" pInputText [(ngModel)]="noviProfesor.korisnickoIme" />
            </div>
            <div class="p-field">
                <label for="email">email</label>
                <input id="email" type="email" pInputText [(ngModel)]="noviProfesor.email" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="izmenaProfesora()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogProfesor()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>

    <p-dialog header="Izmeni sluzbu" [(visible)]="izmeniSSluzbuVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="ime">ime</label>
                <input id="ime" type="text" pInputText [(ngModel)]="novaSluzba.ime" />
            </div>
            <div class="p-field">
                <label for="prezime">prezime</label>
                <input id="prezime" type="text" pInputText [(ngModel)]="novaSluzba.prezime" />
            </div>
            <div class="p-field">
                <label for="korisnickoIme">korisnicko ime</label>
                <input id="korisnickoIme" type="text" pInputText [(ngModel)]="novaSluzba.korisnickoIme" />
            </div>
            <div class="p-field">
                <label for="email">email</label>
                <input id="email" type="email" pInputText [(ngModel)]="novaSluzba.email" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="izmenaSluzbe()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogSluzba()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>


    <p-dialog header="Izmeni Admina" [(visible)]="izmeniAdminaVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="ime">ime</label>
                <input id="ime" type="text" pInputText [(ngModel)]="noviAdmin.ime" />
            </div>
            <div class="p-field">
                <label for="prezime">prezime</label>
                <input id="prezime" type="text" pInputText [(ngModel)]="noviAdmin.prezime" />
            </div>
            <div class="p-field">
                <label for="korisnickoIme">korisnicko ime</label>
                <input id="korisnickoIme" type="text" pInputText [(ngModel)]="noviAdmin.korisnickoIme" />
            </div>
            <div class="p-field">
                <label for="email">email</label>
                <input id="email" type="email" pInputText [(ngModel)]="noviAdmin.email" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="izmenaAdmina()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogAdmin()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    

    <p-toast />
    <p-confirmPopup />
</div>

