<div class="content">
    <h2>Prijava</h2>
    <div class="form form-group">
        <input type="email" placeholder="email" [formControl]="emailFormControl">
        <div class="error-message" *ngIf="emailFormControl.touched && emailFormControl.invalid">
            <div *ngIf="emailFormControl.hasError('required')">Email je obavezan!</div>
            <div *ngIf="emailFormControl.hasError('email')">Email adresa nije validna!</div>
        </div>
    </div>
    <div class="form form-group">
        <input type="password" placeholder="lozinka" [formControl]="lozinkaFormControl">
        <div class="error-message" *ngIf="lozinkaFormControl.touched && lozinkaFormControl.invalid">
            <div *ngIf="lozinkaFormControl.hasError('required')">Lozinka je obavezna!</div>
            <div *ngIf="lozinkaFormControl.hasError('minlength')">Lozinka mora da sadrži minimum 4 karaktera!</div>
        </div>
    </div>
    <div class="button">
        <p-button label="Prijavi se" severity="success" rounded="true" [raised]="true" (onClick)="prijaviSe()" />
        <p-button label="Ponisti" severity="danger" rounded="true" [raised]="true" (onClick)="ponistiUnos()" />
    </div>
    <p>Niste registrovani? <a routerLink="/registracija">Registrujte se.</a></p>
    <p-toast />
    <p-progressSpinner *ngIf="isLoading" ariaLabel="loading" />
</div>
