<div class="content" >
    <h2>Fakulteti</h2>
    <div class="kartice">
        <p-card header="{{f.naziv}}" [style]="{ height: '400px' }"  *ngFor="let f of fakulteti">
            <ng-template pTemplate="header">
                <img alt="slika fakulteta" src="{{f.slika}}" />
            </ng-template>
            <p>
                {{skraceniOpis(f.tekstualniOpis)}}
            </p>
            <p-button label="Saznaj vise" (onClick)="detaljnije(f)" [rounded]="true" severity="info" [raised]="true" class="button"/>
        </p-card>
    </div>
</div>
