<div class="content">
    <h2>Upis studenata</h2>
    <div class="dugme">
        <p>Korisnici na sistemu</p>
        <p-inputSwitch [(ngModel)]="visible" />
        <p>Upis na godinu</p>
    </div>
    <div class="postojeci" *ngIf="!visible">
        <div class="pretraga">
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretraga.korisnicko_ime" pInputText placeholder="korisnicko ime" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretraga.email" pInputText placeholder="email" />
            </p-inputGroup>
            <p-button icon="pi pi-search" (click)="pretraziKorisnike()" rounded="true" [raised]="true" />
            <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger"  />
        </div>
        <p-table [value]="filtriraniKorisnici">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="korisnicko_ime">korisnicko ime <p-sortIcon field="korisnicko_ime"></p-sortIcon></th>
                    <th pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
                    <th>opcije</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-k let-rowIndex="rowIndex">
                <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                    <td>{{ k.id }}</td>
                    <td>{{ k.korisnickoIme }}</td>
                    <td>{{ k.email }}</td>
                    <td>
                        <p-button (onClick)="upisiPostojecegStudenta(k)" label="upisi" rounded="true" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="novi" *ngIf="visible">
        <div class="pretraga">
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaStudenta.ime" pInputText placeholder=" ime" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaStudenta.prezime" pInputText placeholder="prezime" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaStudenta.brojIndeksa" pInputText placeholder="broj indeksa" />
            </p-inputGroup>
            <p-inputGroup>
                <input type="text" [(ngModel)]="pretragaStudenta.email" pInputText placeholder="email" />
            </p-inputGroup>
            <p-button icon="pi pi-search" (click)="pretraziStudente()" rounded="true" [raised]="true" />
            <p-button icon="pi pi-times" (click)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger"  />
        </div>
        <p-table [value]="filtriraniStudenti">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="ime">ime <p-sortIcon field="ime"></p-sortIcon></th>
                    <th pSortableColumn="prezime">prezime <p-sortIcon field="prezime"></p-sortIcon></th>
                    <th pSortableColumn="brojIndeksa">brojIndeksa <p-sortIcon field="brojIndeksa"></p-sortIcon></th>
                    <th pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
                    <th>opcije</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-s let-rowIndex="rowIndex">
                <tr [ngClass]="{'table-row-even': rowIndex % 2 === 0, 'table-row-odd': rowIndex % 2 !== 0}">
                    <td>{{ s.id }}</td>
                    <td>{{ s.ime }}</td>
                    <td>{{ s.ime }}</td>
                    <td>{{ s.brojIndeksa }}</td>
                    <td>{{ s.email }}</td>
                    <td>
                        <p-button (onClick)="upisNaGodinu(s)" label="upis na godinu" rounded="true" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog header="Upisi studenta" [(visible)]="upisVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="fakultet">Fakultet</label>
                <p-dropdown [options]="fakulteti" [(ngModel)]="postojeciZaUpis.fakultet" optionLabel="naziv" placeholder="Izaberite fakultet">
                </p-dropdown>
            </div>
            <div class="p-field">
                <label for="korisnicko_ime">korisnicko ime</label>
                <input id="korisnicko_ime" type="text" pInputText [(ngModel)]="postojeciZaUpis.korisnickoIme" />
            </div>
            <div class="p-field">
                <label for="ime">ime</label>
                <input id="ime" type="text" pInputText [(ngModel)]="postojeciZaUpis.ime" />
            </div>
            <div class="p-field">
                <label for="prezime">prezime</label>
                <input id="prezime" type="text" pInputText [(ngModel)]="postojeciZaUpis.prezime" />
            </div>
            <div class="p-field">
                <label for="email">email</label>
                <input id="email" type="text" pInputText [(ngModel)]="postojeciZaUpis.email" />
            </div>
            <div class="p-field">
                <label for="broj_indeksa">broj indeksa</label>
                <input id="broj_indeksa" type="text" pInputText [(ngModel)]="postojeciZaUpis.broj_indeksa" />
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="upisiPostojeceg()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogPostojeci()" class="p-button-secondary" />
        </p-footer> 
    </p-dialog>

    <p-dialog header="Upisi na godinu" [(visible)]="upisNaGodinuVisible" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="studijskiProgram">Smer</label>
                <p-dropdown [options]="smerovi" [(ngModel)]="studentZaUpisNaGodinu.studijskiProgram" optionLabel="naziv" placeholder="Izaberite smer">
                </p-dropdown>
            </div>
            <div class="p-field">
                <label for="godinaStudija">Godina</label>
                <p-dropdown [options]="godinaStudija" [(ngModel)]="studentZaUpisNaGodinu.godinaStudija" optionLabel="naziv" placeholder="Izaberite godinu">
                </p-dropdown>
            </div>
            <div>
                <p><strong>ime:</strong> {{studentZaGodinu.ime}}</p>
            </div>
            <div>
                <p><strong>prezime:</strong> {{studentZaGodinu.prezime}}</p>
            </div>
            <div>
                <p><strong>smer:</strong></p>
                <div *ngIf="upisi && upisi.length > 0;">
                    <ul>
                        <li *ngFor="let upis of upisi">
                            {{ upis?.studijskiProgram?.naziv || 'Nema podataka' }}
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <p><strong>upisane godine:</strong></p>
                <div *ngIf="upisi && upisi.length > 0;">
                    <ul>
                        <li *ngFor="let upis of upisi">
                            <strong>Godina:</strong> {{ upis?.godinaStudija?.godina || 'Nema podataka' }},
                            <strong>Datum upisa:</strong> {{ upis?.datumUpisa || 'Nema datuma' }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="upisiNaGodinu()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialogUpisNaGodinu()" class="p-button-secondary" />
        </p-footer> 
    </p-dialog>

    <p-toast />
</div>
