<div class="content">
    <h2>Obavestenja</h2>
    <p-button label="objavi obavestenje" (click)="showDialog()" />

    <p-divider />
    <p-dataView  #dv [value]="obavestenja">
        <ng-template  pTemplate="list">
            <div *ngFor="let o of obavestenja">
                <div class="gObavestenje">
                    <h4>{{o.naslov}}</h4>
                    <p><span>od: </span> <br> {{prilagodiDatum(o.vremePocetka)}}</p>
                    <p><span>do: </span> <br> {{prilagodiDatum(o.vremeKraja)}}</p>
                    <p>{{o.sadrzaj}}</p>
                </div>
                <p-divider />
            </div>
        </ng-template>
    </p-dataView>

    <p-dialog header="Dodaj Novo Obaveštenje" [(visible)]="displayDialog" modal="modal" [closable]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="naslov">Naslov</label>
                <input id="naslov" type="text" pInputText [(ngModel)]="novoObavestenje.naslov" />
            </div>
            <div class="p-field">
                <label for="sadrzaj">Sadržaj</label>
                <textarea id="sadrzaj" rows="4" pInputTextarea [(ngModel)]="novoObavestenje.sadrzaj"></textarea>
            </div>
            <div class="p-field">
                <label for="vremePocetka">Vreme Početka</label>
                <p-calendar id="vremePocetka" [(ngModel)]="novoObavestenje.vremePocetka" [showTime]="true" ></p-calendar>
            </div>
            <div class="p-field">
                <label for="vremeKraja">Vreme Kraja</label>
                <p-calendar id="vremeKraja" [(ngModel)]="novoObavestenje.vremeKraja" [showTime]="true" ></p-calendar>
            </div>
        </div>
        <p-footer>
            <p-button label="Sačuvaj" rounded="true" severity="success" icon="pi pi-check" (click)="dodajObavestenje()" />
            <p-button label="Otkaži" rounded="true" severity="danger" icon="pi pi-times" (click)="hideDialog()" class="p-button-secondary" />
        </p-footer>
    </p-dialog>
    <p-toast />
</div>
