<div class="content">
    <h2>Obavestenja</h2>
    <p-dataView  #dv [value]="obavestenja">
        <ng-template  pTemplate="list">
            <div *ngFor="let o of obavestenja">
                <div class="gObavestenje">
                    <h4>{{o.naslov}}</h4>
                    <p><span>datum: </span> <br> {{formatDatuma(o.datum)}}</p>
                    <p><span>od:</span><br>  {{formatDatuma(o.vremePocetka)}}, <br><span>do:</span><br> {{formatDatuma(o.vremeKraja)}}</p>
                    <p>{{o.sadrzaj}}</p>
                </div>
                <p-divider class="custom-divider"/>
            </div>
        </ng-template>
    </p-dataView>
</div>
