<div class="content">
    <h2>Spisak studenata</h2>
    <p-dropdown 
        [options]="predmeti" 
        optionLabel="naziv"
        [(ngModel)]="izabraniPredmet" 
        placeholder="Izaberi predmet" 
        (onChange)="onPredmetChange($event)"
    ></p-dropdown>
    
    <div class="pretraga">
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.ime" pInputText placeholder="Ime" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.prezime" pInputText placeholder="Prezime" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.brojIndeksa" pInputText placeholder="Broj indeksa" />
        </p-inputGroup>
        <!-- <p-inputGroup>
            <input type="text" [(ngModel)]="pretraga.godinaUpisa" pInputText placeholder="godina upisa" />
        </p-inputGroup>
        <p-inputGroup>
            <input type="number" [(ngModel)]="pretraga.prosecnaOcena" pInputText placeholder="prosecna ocena" />
        </p-inputGroup> -->
        <p-button icon="pi pi-search" (onClick)="pretraziStudente()" rounded="true" [raised]="true"/>
        <p-button icon="pi pi-times" (onClick)="ponistiPretragu()" rounded="true" [raised]="true" severity="danger" />
    </div>

    <div *ngIf="filtriraniStudenti.length === 0" class="poruka">
        Nema rezultata pretrage
    </div>

    <p-table *ngIf="filtriraniStudenti.length > 0"  [value]="filtriraniStudenti" styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="ime">ime <p-sortIcon field="ime"></p-sortIcon></th>
                <th pSortableColumn="prezime">prezime <p-sortIcon field="prezime"></p-sortIcon></th>
                <th pSortableColumn="brojIndeksa">broj indeksa <p-sortIcon field="brojIndeksa"></p-sortIcon></th>
                <!-- <th>smer</th>
                <th>godina upisa</th>
                <th>prosecna ocena</th> -->
                <th>opcije</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-s>
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.ime}}</td>
                <td>{{s.prezime}}</td>
                <td>{{s.brojIndeksa}}</td>
                <!-- <td>{{s.smer}}</td>
                <td>{{s.godinaUpisa}}</td>
                <td>{{s.prosecnaOcena}}</td> -->
                <td>
                    <p-button (onClick)="prikazStudenta(s)" label="detalji" />
                </td>
                <div *ngIf="studentPodaci">
                    <p-dialog header="Student" [modal]="true" class="dialog" [(visible)]="visible" >
                        <p><span>ime:</span> {{studentPodaci.ime}}</p>
                        <p-divider />
                        <p><span>prezime:</span> {{studentPodaci.prezime}}</p>
                        <p-divider />
                        <p><span>broj indeksa:</span> {{studentPodaci.brojIndeksa}}</p>
                        <p-divider />
                        <div *ngIf="studentPodaci.upisi && studentPodaci.upisi.length > 0">
                            <p *ngFor="let upis of studentPodaci.upisi"><span>Datum upisa:</span>{{ upis.datumUpisa }}</p>
                        </div>
                        <p-divider />
                        <p><span>prosecna ocena:</span> {{studentPodaci.avgOcena}}</p>
                        <p-divider />
                        <p><span>ECTS:</span> {{studentPodaci.ETCS}}</p>
                        <p-divider />
                        <p><span>upisi:</span></p>
                        <div *ngIf="studentPodaci.upisi && studentPodaci.upisi.length > 0">
                            <p *ngFor="let upis of studentPodaci.upisi">
                              <strong>Godina:</strong> {{ upis?.godinaStudija?.godina || 'Nema podataka' }},
                              <strong>Smer:</strong> {{ upis?.studijskiProgram?.naziv || 'Nema podataka' }},
                              <strong>Datum:</strong> {{ upis?.datumUpisa || 'Nema podataka' }}
                            </p>
                          </div>
                        <p-divider />
                        <p><span>polozeni ispiti:</span></p>
                        <div *ngIf="studentPodaci.polozeniIspiti && studentPodaci.polozeniIspiti.length > 0">
                            <p *ngFor="let ispit of studentPodaci.polozeniIspiti">
                                {{ ispit.nazivPredmeta }} - Ocena: {{ ispit.ocena }}, ESPB: {{ ispit.espb }}
                            </p>
                        </div>
                        <div *ngIf="studentPodaci.polozeniIspiti?.length === 0">
                            <p>Nema položenih ispita.</p>
                        </div>
                        <p-divider />
                        <p><span>neuspesna polaganja: </span></p>
                        <div *ngIf="studentPodaci.nepolozeniIspiti && studentPodaci.nepolozeniIspiti.length > 0">
                            <p *ngFor="let polaganje of studentPodaci.nepolozeniIspiti">
                                {{ polaganje.nazivPredmeta }} - ESPB: {{ polaganje.espb }}, Bodovi: {{ polaganje.bodovi }}
                            </p>
                        </div>
                        <div *ngIf="studentPodaci.neuspesnaPolaganja?.length === 0">
                            <p>Nema neuspešnih polaganja.</p>
                        </div>
                        <p-divider />
                        <p><span>prijavljeni ispiti:</span></p>
                        <div *ngIf="studentPodaci.prijavljeniIspiti">
                            <p *ngFor="let ispit of studentPodaci.prijavljeniIspiti">
                               {{ ispit.predmet.naziv }}
                            </p>
                        </div>
                        <p-divider />
                        <p><span>zavrsni rad: </span></p>
                        <div *ngIf="studentPodaci.zavrsniRad">
                            <p>
                              <strong>Tema:</strong> {{ studentPodaci.zavrsniRad?.tema || 'Nema podataka o temi završnog rada' }}
                            </p>
                        </div>
                    </p-dialog>
                </div>
            </tr>
        </ng-template>
    </p-table>
</div>
