<div class="content">
    <h2>Istorija studiranja</h2>
    <h3>Polozeni predmeti</h3>
    <p-table [value]="polozeniPredmeti" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nazivPredmeta">Predmet <p-sortIcon field="nazivPredmeta"></p-sortIcon></th>
                <th pSortableColumn="bodovi">Bodovi <p-sortIcon field="bodovi"></p-sortIcon></th>
                <th pSortableColumn="profesor.ime">Profesor <p-sortIcon field="profesor.ime"></p-sortIcon></th>
                <th pSortableColumn="ocena">Ocena <p-sortIcon field="ocena"></p-sortIcon></th>
                <th pSortableColumn="espb">ESPB <p-sortIcon field="espb"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p>
            <tr>
                <td>{{p.nazivPredmeta}}</td>
                <td>{{p.bodovi}}</td>
                <td>{{p.profesor.ime}} {{p.profesor.prezime}}</td>
                <td>{{p.ocena}}</td>
                <td>{{p.espb}}</td> 
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <!-- <tr>
                <td>Prosecna ocena: {{getProsecnaOcena()}}</td>
                <td>ECTS Ukupno: {{getSumaETCS()}}</td>
            </tr> -->
            <tr class="footer-row">
                <td colspan="5">
                    <div class="footer-content">
                        <span class="footer-item">Prosecna ocena: {{getProsecnaOcena()}}</span>
                        <span class="footer-item">ECTS: {{getSumaETCS()}}</span>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>


    <h3>Upisi</h3>
    <p-table [value]="upisi" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>Godina studija</th>
                <th>Datum upisa</th>
                <th>Smer</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-u>
            <tr>
                <td>{{u.godinaStudija.godina}}</td>
                <td>{{u.datumUpisa}}</td>
                <td>{{u.studijskiProgram.naziv}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
