<p-tabView [activeIndex]="selectedTabIndex" (onChange)="onTabChange($event)">
    <p-tabPanel header="Moji predmeti">
        <app-moji-predmeti></app-moji-predmeti>
    </p-tabPanel>
    <p-tabPanel header="Obavestenja">
        <app-predmetna-obavestenja></app-predmetna-obavestenja>
    </p-tabPanel>
    <p-tabPanel header="Istorija studiranja">
        <app-istorija-studiranja></app-istorija-studiranja>
    </p-tabPanel>
    <p-tabPanel header="Prijava ispita">
        <app-prijava-ispita></app-prijava-ispita>
    </p-tabPanel>
</p-tabView>
